{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

<div class="row">
    <div class="col-lg-12">

    <ul class="list-group">
      {% for cont in transacoes %}
        <li class="list-group-item">
          <a href="{% url 'url_update' cont.id %}">
            {{ cont.descricao }} - {{ cont.valor }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{% url 'url_nova' %}" class="pull-right">NOVA TRANSAÇÃO</a>
    </p>

  </div>
</div>

{% endblock %}
