<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Gestão de Contas</title>
  </head>
  <body>

    <!-- Simples retorno de um bem vindo para testes! -->
    <h1>Seja Bem vindo o Gestor de Contas</h1>
    <p> Agora é {{ now }}</p>
    <ul>
      {% for cont in transacao %}

        {% if cont == "transacao 1" %}
          <li><b>{{ cont }}</b></li>
        {% else %}
          <li>{{ cont }}</li>
        {% endif %}

      {% endfor %}
    </ul>

  </body>
</html>
